<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portfólio</title>
</head>
<body>
    
    <header>
        <h1>Pablo Merissi da Cruz</h1>
    
        <nav>
            <ul>
                <li>Sobre mim</li>
                <li>Passatempo</li>
                <li>Cursos</li>
                <li>Trabalhos</li>

            </ul>
        </nav>
    </header>
    <main>
        <section id="Sobre mim">
            <h2>Sobre mim</h2>
            <p>Data Nascimento: 21/08/2001</p>
            <p>Idade: 17 anos</p>
            <p>Escolaridade: Ensino Médio completo 2018</p>
            <p>Trabalho: Nunca trabalhou (A procura de primeiro trabalho)</p>
            <p>Tirar dupla cidadania e ir embora do Brasil. Pretende seguir a carreira Area TI: Back end e Front End.</p>
        </section>

        <section id="Passatempo">
            <h2>Cursos</h2>
            <p>Técnico em informática Etec Zona Leste duração:1,5 ano</p>
            <p>Inglês Intermediário 2 anos Wizard duração: 2 anos 2016-2018</p>
        </section>

        <section id="Cursos">
            <h2>Cursos</h2>
            <p>Técnico em informática Etec Zona Leste duração:1,5 ano</p>
            <p>Inglês Intermediário 2 anos Wizard duração: 2 anos 2016-2018</p>
        </section>

        <section id="Trabalhos">
            <h2>Trabalhos</h2>
            <p>Rolê Top</p>
            <p></p>
            <p></p>
        </section>
        
    </main>

    

</body>
</html>