<section id="logo-area">
            <img src="img/logo.png" alt="Logotipo do Rolê Top" title="logo" />
            <hgroup>
                <h1>Rolê Top</h1>
                <h2>Galpão de Eventos</h2>
            </hgroup>
        </section>